#updateImage{
    width: 100vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    display: block;
}
section{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}
img{
    height:300px;
    width: 300px;
    border-radius: 50%;
    display:block;
    /* justify-content: center;
    align-items:center; */
}