.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f9fc;
}

.loginForm {
  background: white;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.1);
  width: 320px;
  display: flex;
  flex-direction: column;
}

.loginForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.loginForm input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.6em;
}

.loginForm button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.loginForm button:hover {
  background-color: #0056b3;
}
